# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp


# RStudio files
.Rproj.user/


# data files to be ignored
data/boundary
data/domain data
data/footfall
data/IMD
data/network
data/sensitivity analysis
data/uncertainty analysis

