# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp


# RStudio files
.Rproj.user/


# data files
data/domain data
data/boundary
data/footfall
data/IMD
data/sensitivity analysis
data/uncertainty test
data/network
